/* div{
    background: red;
    display: inline;
} */




/* 
#span1{
    background: red;
}
#span2{
    background:yellow;
    display: inline-block;
    width: 500px;
} */




/* span{
    background: red;
    display: block;
}
div{
    background: blue;
} */
